@import "tailwindcss";

@theme {
  --color-brand-dark: #0f111a;
  --color-brand-card: #1a1d2d;
  --color-brand-purple: #5b21b6;
  --color-brand-purple-hover: #4c1d95; 
  --color-brand-accent: #8b5cf6;
}

/* Mengubah scrollbar agar sesuai tema gaming */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #0f111a;
}
::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 10px;
}
/* Sihir CSS untuk UAS: Paksa semua komponen Breeze jadi Dark Mode */
.bg-white { background-color: var(--color-brand-card) !important; }
.shadow { box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5) !important; }
.text-gray-800 { color: #f3f4f6 !important; }
.text-gray-600 { color: #9ca3af !important; }

/* Tombol Simpan */
button.inline-flex.items-center.px-4.py-2.bg-gray-800 {
    background-color: #5b21b6 !important;
    border-radius: 0.75rem !important;
    font-weight: bold !important;
    transition: all 0.3s !important;
}
button.inline-flex.items-center.px-4.py-2.bg-gray-800:hover {
    background-color: #4c1d95 !important;
    transform: translateY(-2px);
}